body {
    background-color: rgb(229,237,227);
    text-align: center;
    font-family: Georgia, serif;
}
a {
    /*color of links  */
    color: #1f3f0e;
}
p {
    /* color of text */
    color: rgb(19,36,31);
    margin-right: 100px;
    margin-left: 100px;
}
.text{
    margin-right: 300px;
    margin-left: 300px;
}
t{
    /* title */
    color: #384d35;
    font-size: 40px;
}
span{
    color: rgb(54, 37, 0);
}
img{
    padding: 20px;
    width: 500px;
}


h1 {
    margin-top: 40px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }

  th {
    cursor: pointer;
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f9f9f9;
  }

  @media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    th {
      position: sticky;
      top: 0;
      background-color: #eee;
      z-index: 2;
    }

    td {
      padding-left: 50%;
      position: relative;
    }

    td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      font-weight: bold;
    }
  }